.flexColumn{
    display: flex;
    flex-direction: column;
}

.relative{
    position: relative;
}

.assetContainer{
    margin: 0.01cm auto;
    border: red solid 1px;
    width: calc(20cm);
    height: calc(4cm);
}

.assest{
    border-radius: calc(4cm);
    border: black 4px solid;
    margin: auto;
}

.fat{
    height: calc(5.5cm);
}

#normalLong{
    width: calc(14cm);
    height: calc(1.7cm);
}

#normalShort{
    width: calc(7cm*0.84);
    height: calc(1.7cm*0.84);
}

#fatShort{
    width: calc(7cm);
    height: calc(3cm);
}

#skinnyLong{
    width: calc(14cm);
    height: calc(1.2cm);
}

#fatLong{
    width: calc(14cm);
    height: calc(3cm);
}